/*!!!!!!!!!!!!!! HEADER !!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!! HEADER !!!!!!!!!!!!!!!!!!!!!!!!!!*/

.header-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.logo-container img {
    max-width: 200px; /* Limit the logo size */
}

.button-container {
    margin-top: 20px; /* Add space between logo and buttons */
}

.button-container button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f0965b; /* Blue color */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth color transition */
}

.button-container button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}

/*!!!!!!!!!!!!!! MAPLIST !!!!!!!!!!!!!!!!!!!!!!!!!!*/

/* Global styles */
body {
    font-family: Calibri, sans-serif;
}

/* CSS for form and restaurant containers */
.form-container,
.restaurant-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* CSS for form container */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    max-width: 400px; /* Set max width to prevent form from stretching too wide */
    margin: 0 auto; /* Center the form horizontally */
    border-top-left-radius: 0; /* Straight top left corner */
    border-top-right-radius: 0; /* Straight top right corner */
}

#party-size-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#party-size-form label {
    margin-bottom: 10px; /* Add space between label and input */
}

#party-size-form input[type="number"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#party-size-form button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #55cb6f;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Add space between input and button */
}

#party-size-form button:hover {
    background-color: #0056b3;
}

/* Additional CSS for input fields, buttons, etc. */
.restaurant-container input[type="number"],
.form-container input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.restaurant-container button,
.form-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f0965b;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.restaurant-container button:hover,
.form-container button:hover {
    background-color: #0056b3;
}



/*!!!!!!!!!!!!!! Login Form !!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* Container for the login form */
.page-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center horizontally */
    height: 100vh; /* Full viewport height */
}

/* CSS for login form container */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    max-width: 400px; /* Set max width to prevent form from stretching too wide */
    margin: 0 auto; /* Center the form horizontally */
    border-top-left-radius: 0; /* Straight top left corner */
    border-top-right-radius: 0; /* Straight top right corner */
}

.login-input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Full width */
    max-width: 300px; /* Limit input width */
}

#login-submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #55cb6f;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#login-submit-button:hover {
    background-color: #0056b3;
}